.nav-item{
    transition: transform 400ms;

:hover{
        transform: scale(1.2);
    }
}
.mentionsLegales{
    transition: transform 400ms;

    :hover{
        transform: scale(1.2);
    }  
}
.rs{
    transition: transform 400ms;

    :hover{
        transform: scale(1.2);
    }  
}